<h1>Welcome to the link page</h1>
<h2>Good Luck...</h2>

<form action="/links" method="post">
<h3>url</h3>
<input type='text' name='url'>
<h3>title</h3>
<input type='text' name='title'>
<h3>tag</h3>
<input type='text' name='tag'>
<input value='Create link' type="submit">
</form>